[submodule "6502_emulator"]
	path = 6502_emulator
	url = https://github.com/chemwolf6922/6502_emulator.git
[submodule "6821_emulator"]
	path = 6821_emulator
	url = https://github.com/chemwolf6922/6821_emulator.git
[submodule "tev"]
	path = tev
	url = https://github.com/chemwolf6922/tiny-event-loop.git
